#/usr/lib/systemd/system/rlsepp.service
[Unit]
Description=rlsepp_web hypnotoad ssl
After=network.target

[Service]
Type=simple
RemainAfterExit=yes
SyslogIdentifier=mojolicious
User=nginx
PIDFile=/var/run/rlsepp_hypnotoad.pid
WorkingDirectory=/usr/share/nginx/rlsepp
ExecStart=/usr/local/bin/hypnotoad script/hypnotoad -f
ExecStop=/usr/local/bin/hypnotoad --stop script/hypnotoad 
ExecReload=/usr/local/bin/hypnotoad script/hypnotoad

Restart=on-abort
RestartSec=90s

[Install]
WantedBy=multi-user.target
